<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas</h2>
    <p>La respuesta es: <strong><%= respuesta %></strong></p>
    <p><a href="/quizes/question">Inténtelo de nuevo</a></p>
  </body>
</html>
