  <body>
    <form action="/quizes/answer" method="get">
      <p><strong>Pregunta:</strong> <%= pregunta %></p>
      <input type="text" name="respuesta" value="Responda aquí">
      <input type="submit" value="Enviar">
    </form>
  </body>
